body{
    background-color: bisque; /*to have a background color*/
    font-weight: 500; /*bigger weight*/
    font-family: Arial, sans-serif; /*this indicates of my font style*/
    text-align: center; /*centers the text*/
    color: #000000; /*this indicates the text color*/
    
}
p{
    text-align: center;
    font-size: 18px;
}
img{
    text-align: center;
    width: 250px; /* Change the width */
    height: 250px; /* Change the height */
}

#centered-image{ /*this is for the images*/
    display: block;
    margin: 0
}
h2{
    text-align: left;
    font-weight: 700;
}
#p7{
    text-align: left;
    font-weight: 500;
    font-size: 24px;
}
#img3 {
    width: 350px; /* Change the width */
    height: 300px; /* Change the height */
}
#img4, #img5, #img6 {
    width: 480px; /* Change the width */
    height: 400px; /* Change the height */
}